In [1]:
# Konfigurasi Spark
import os
import sys

# 1. Mengeset variabel yang menyimpan lokasi di mana Spark diinstal
spark_path = "D:/spark"

# 2. Menentukan environment variable SPARK_HOME
os.environ['SPARK_HOME'] = spark_path

# 3. Simpan lokasi winutils.exe sebagai environment variable HADOOP_HOME
os.environ['HADOOP_HOME'] = spark_path

# 4. Lokasi Python yang dijalankan --> punya Anaconda
#    Apabila Python yang diinstall hanya Anaconda, maka tidak perlu menjalankan baris ini.
os.environ['PYSPARK_PYTHON'] = sys.executable

# 5. Konfigurasi path library PySpark
sys.path.append(spark_path + "/bin")
sys.path.append(spark_path + "/python")
sys.path.append(spark_path + "/python/pyspark/")
sys.path.append(spark_path + "/python/lib")
sys.path.append(spark_path + "/python/lib/pyspark.zip")
sys.path.append(spark_path + "/python/lib/py4j-0.10.4-src.zip")

# 6. Import library Spark
#    Dua library yang WAJIB di-import adalah **SparkContext** dan **SparkConf**.
from pyspark import SparkContext
from pyspark import SparkConf

# Setting konfigurasi (opsional)
conf = SparkConf()
conf.set("spark.executor.memory", "2g")
conf.set("spark.cores.max", "4")

sc = SparkContext("local", conf=conf)
#    Apabila berhasil, maka ketika sc di-print akan mengeluarkan nilai <pyspark.context.SparkContext object>
print sc

<pyspark.context.SparkContext object at 0x00000000058FEF98>

In [2]:
# The usual preamble
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np


# Make the graphs a bit prettier, and bigger
pd.set_option('display.mpl_style', 'default')
plt.rcParams['figure.figsize'] = (15, 5)
plt.rcParams['font.family'] = 'sans-serif'

# This is necessary to show lots of columns in pandas 0.12. 
# Not necessary in pandas 0.13.
pd.set_option('display.width', 5000) 
pd.set_option('display.max_columns', 60)

C:\Users\agungteguh\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2881: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
requests = pd.read_csv('exercise-5/complete.csv',error_bad_lines=False)

Skipping line 878: expected 11 fields, saw 12
Skipping line 1713: expected 11 fields, saw 12
Skipping line 1815: expected 11 fields, saw 12
Skipping line 2858: expected 11 fields, saw 12
Skipping line 3734: expected 11 fields, saw 12
Skipping line 4756: expected 11 fields, saw 12
Skipping line 5389: expected 11 fields, saw 12
Skipping line 5423: expected 11 fields, saw 12
Skipping line 5614: expected 11 fields, saw 12
Skipping line 5849: expected 11 fields, saw 12
Skipping line 6093: expected 11 fields, saw 12
Skipping line 7516: expected 11 fields, saw 12
Skipping line 7626: expected 11 fields, saw 12
Skipping line 8893: expected 11 fields, saw 12
Skipping line 9015: expected 11 fields, saw 12
Skipping line 9571: expected 11 fields, saw 12
Skipping line 9620: expected 11 fields, saw 12
Skipping line 9751: expected 11 fields, saw 12
Skipping line 10157: expected 11 fields, saw 12
Skipping line 10427: expected 11 fields, saw 12
Skipping line 12035: expected 11 fields, saw 12
Skipping line 12113: expected 11 fields, saw 12
Skipping line 12144: expected 11 fields, saw 12
Skipping line 12891: expected 11 fields, saw 12
Skipping line 14613: expected 11 fields, saw 12
Skipping line 16031: expected 11 fields, saw 12
Skipping line 16344: expected 11 fields, saw 12
Skipping line 16399: expected 11 fields, saw 12
Skipping line 16635: expected 11 fields, saw 12
Skipping line 16722: expected 11 fields, saw 12
Skipping line 18241: expected 11 fields, saw 12
Skipping line 18367: expected 11 fields, saw 12
Skipping line 18479: expected 11 fields, saw 12
Skipping line 19814: expected 11 fields, saw 12
Skipping line 19859: expected 11 fields, saw 12
Skipping line 19909: expected 11 fields, saw 12
Skipping line 19935: expected 11 fields, saw 12
Skipping line 20386: expected 11 fields, saw 12
Skipping line 20533: expected 11 fields, saw 12
Skipping line 20764: expected 11 fields, saw 12
Skipping line 21145: expected 11 fields, saw 12
Skipping line 21291: expected 11 fields, saw 12
Skipping line 21309: expected 11 fields, saw 12
Skipping line 21576: expected 11 fields, saw 12
Skipping line 21966: expected 11 fields, saw 12
Skipping line 22092: expected 11 fields, saw 12
Skipping line 22108: expected 11 fields, saw 12
Skipping line 22236: expected 11 fields, saw 12
Skipping line 22785: expected 11 fields, saw 12
Skipping line 23143: expected 11 fields, saw 12
Skipping line 23145: expected 11 fields, saw 12
Skipping line 23251: expected 11 fields, saw 12
Skipping line 23369: expected 11 fields, saw 12
Skipping line 23464: expected 11 fields, saw 12
Skipping line 23622: expected 11 fields, saw 12
Skipping line 23732: expected 11 fields, saw 12
Skipping line 23924: expected 11 fields, saw 12
Skipping line 24696: expected 11 fields, saw 12
Skipping line 25543: expected 11 fields, saw 12
Skipping line 25703: expected 11 fields, saw 12
Skipping line 25815: expected 11 fields, saw 12
Skipping line 26185: expected 11 fields, saw 12
Skipping line 27424: expected 11 fields, saw 12
Skipping line 27465: expected 11 fields, saw 12
Skipping line 28083: expected 11 fields, saw 12
Skipping line 28282: expected 11 fields, saw 12
Skipping line 28460: expected 11 fields, saw 12
Skipping line 28745: expected 11 fields, saw 12
Skipping line 29674: expected 11 fields, saw 12
Skipping line 30342: expected 11 fields, saw 12
Skipping line 30417: expected 11 fields, saw 12
Skipping line 31154: expected 11 fields, saw 12
Skipping line 31308: expected 11 fields, saw 12
Skipping line 32198: expected 11 fields, saw 12
Skipping line 32439: expected 11 fields, saw 12
Skipping line 32675: expected 11 fields, saw 12
Skipping line 33134: expected 11 fields, saw 12
Skipping line 33442: expected 11 fields, saw 12
Skipping line 34184: expected 11 fields, saw 12
Skipping line 34731: expected 11 fields, saw 12
Skipping line 34869: expected 11 fields, saw 12
Skipping line 35107: expected 11 fields, saw 12
Skipping line 35300: expected 11 fields, saw 12
Skipping line 35396: expected 11 fields, saw 12
Skipping line 35913: expected 11 fields, saw 12
Skipping line 36445: expected 11 fields, saw 12
Skipping line 36693: expected 11 fields, saw 12
Skipping line 36723: expected 11 fields, saw 12
Skipping line 37293: expected 11 fields, saw 12
Skipping line 37361: expected 11 fields, saw 12
Skipping line 37980: expected 11 fields, saw 12
Skipping line 38090: expected 11 fields, saw 12
Skipping line 38197: expected 11 fields, saw 12
Skipping line 39431: expected 11 fields, saw 12
Skipping line 39598: expected 11 fields, saw 12
Skipping line 39679: expected 11 fields, saw 12
Skipping line 39794: expected 11 fields, saw 12
Skipping line 40021: expected 11 fields, saw 12
Skipping line 40430: expected 11 fields, saw 12
Skipping line 42858: expected 11 fields, saw 12
Skipping line 43662: expected 11 fields, saw 12
Skipping line 44162: expected 11 fields, saw 12
Skipping line 45529: expected 11 fields, saw 12
Skipping line 46678: expected 11 fields, saw 12
Skipping line 46788: expected 11 fields, saw 12
Skipping line 46811: expected 11 fields, saw 12
Skipping line 46924: expected 11 fields, saw 12
Skipping line 47287: expected 11 fields, saw 12
Skipping line 47377: expected 11 fields, saw 12
Skipping line 47419: expected 11 fields, saw 12
Skipping line 47492: expected 11 fields, saw 12
Skipping line 47629: expected 11 fields, saw 12
Skipping line 48125: expected 11 fields, saw 12
Skipping line 48932: expected 11 fields, saw 12
Skipping line 48971: expected 11 fields, saw 12
Skipping line 49440: expected 11 fields, saw 12
Skipping line 49457: expected 11 fields, saw 12
Skipping line 50670: expected 11 fields, saw 12
Skipping line 50960: expected 11 fields, saw 12
Skipping line 51275: expected 11 fields, saw 12
Skipping line 51649: expected 11 fields, saw 12
Skipping line 51993: expected 11 fields, saw 12
Skipping line 52023: expected 11 fields, saw 12
Skipping line 52059: expected 11 fields, saw 12
Skipping line 52259: expected 11 fields, saw 12
Skipping line 52368: expected 11 fields, saw 12
Skipping line 52783: expected 11 fields, saw 12
Skipping line 53064: expected 11 fields, saw 12
Skipping line 53135: expected 11 fields, saw 12
Skipping line 53514: expected 11 fields, saw 12
Skipping line 54092: expected 11 fields, saw 12
Skipping line 55403: expected 11 fields, saw 12
Skipping line 57476: expected 11 fields, saw 12
Skipping line 58646: expected 11 fields, saw 12
Skipping line 58808: expected 11 fields, saw 12
Skipping line 59119: expected 11 fields, saw 12
Skipping line 59727: expected 11 fields, saw 12
Skipping line 60386: expected 11 fields, saw 12
Skipping line 60478: expected 11 fields, saw 12
Skipping line 60542: expected 11 fields, saw 12
Skipping line 60913: expected 11 fields, saw 12
Skipping line 61032: expected 11 fields, saw 12
Skipping line 61640: expected 11 fields, saw 12
Skipping line 61732: expected 11 fields, saw 12
Skipping line 62029: expected 11 fields, saw 12
Skipping line 62219: expected 11 fields, saw 12
Skipping line 63657: expected 11 fields, saw 12
Skipping line 64712: expected 11 fields, saw 12

Skipping line 65881: expected 11 fields, saw 12
Skipping line 66093: expected 11 fields, saw 12
Skipping line 66095: expected 11 fields, saw 12
Skipping line 66476: expected 11 fields, saw 12
Skipping line 66549: expected 11 fields, saw 12
Skipping line 66550: expected 11 fields, saw 12
Skipping line 68102: expected 11 fields, saw 12
Skipping line 69441: expected 11 fields, saw 12
Skipping line 70104: expected 11 fields, saw 12
Skipping line 70452: expected 11 fields, saw 12
Skipping line 70642: expected 11 fields, saw 12
Skipping line 70644: expected 11 fields, saw 12
Skipping line 70716: expected 11 fields, saw 12
Skipping line 71345: expected 11 fields, saw 12
Skipping line 71634: expected 11 fields, saw 12
Skipping line 72091: expected 11 fields, saw 12
Skipping line 72119: expected 11 fields, saw 12
Skipping line 73543: expected 11 fields, saw 12
Skipping line 74654: expected 11 fields, saw 12
Skipping line 74785: expected 11 fields, saw 12
Skipping line 74918: expected 11 fields, saw 12
Skipping line 75062: expected 11 fields, saw 12
Skipping line 75346: expected 11 fields, saw 12
Skipping line 75416: expected 11 fields, saw 12
Skipping line 75677: expected 11 fields, saw 12
Skipping line 75833: expected 11 fields, saw 12
Skipping line 76117: expected 11 fields, saw 12
Skipping line 76834: expected 11 fields, saw 12
Skipping line 77540: expected 11 fields, saw 12
Skipping line 77568: expected 11 fields, saw 12
Skipping line 77607: expected 11 fields, saw 12
Skipping line 77871: expected 11 fields, saw 12
Skipping line 78117: expected 11 fields, saw 12
Skipping line 78526: expected 11 fields, saw 12
Skipping line 78605: expected 11 fields, saw 12
Skipping line 79151: expected 11 fields, saw 12
Skipping line 79945: expected 11 fields, saw 12
Skipping line 80156: expected 11 fields, saw 12
Skipping line 80328: expected 11 fields, saw 12
Skipping line 80382: expected 11 fields, saw 12
Skipping line 80421: expected 11 fields, saw 12
Skipping line 80503: expected 11 fields, saw 12
Skipping line 82071: expected 11 fields, saw 12
Skipping line 82566: expected 11 fields, saw 12
Skipping line 86123: expected 11 fields, saw 12
Skipping line 87218: expected 11 fields, saw 12
Skipping line 87457: expected 11 fields, saw 12
Skipping line 87579: expected 11 fields, saw 12

C:\Users\agungteguh\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
requests['latitude'].unique()

array(['29.8830556', '29.38421', '53.2', ..., 34.367594,
       34.101388899999996, 34.3769444], dtype=object)

In [5]:
na_values = ['NO CLUE', 'N/A', '0','NaN']
requests = pd.read_csv('exercise-5/complete.csv', na_values=na_values, dtype={'latitude': str},error_bad_lines=False)

Skipping line 878: expected 11 fields, saw 12
Skipping line 1713: expected 11 fields, saw 12
Skipping line 1815: expected 11 fields, saw 12
Skipping line 2858: expected 11 fields, saw 12
Skipping line 3734: expected 11 fields, saw 12
Skipping line 4756: expected 11 fields, saw 12
Skipping line 5389: expected 11 fields, saw 12
Skipping line 5423: expected 11 fields, saw 12
Skipping line 5614: expected 11 fields, saw 12
Skipping line 5849: expected 11 fields, saw 12
Skipping line 6093: expected 11 fields, saw 12
Skipping line 7516: expected 11 fields, saw 12
Skipping line 7626: expected 11 fields, saw 12
Skipping line 8893: expected 11 fields, saw 12
Skipping line 9015: expected 11 fields, saw 12
Skipping line 9571: expected 11 fields, saw 12
Skipping line 9620: expected 11 fields, saw 12
Skipping line 9751: expected 11 fields, saw 12
Skipping line 10157: expected 11 fields, saw 12
Skipping line 10427: expected 11 fields, saw 12
Skipping line 12035: expected 11 fields, saw 12
Skipping line 12113: expected 11 fields, saw 12
Skipping line 12144: expected 11 fields, saw 12
Skipping line 12891: expected 11 fields, saw 12
Skipping line 14613: expected 11 fields, saw 12
Skipping line 16031: expected 11 fields, saw 12
Skipping line 16344: expected 11 fields, saw 12
Skipping line 16399: expected 11 fields, saw 12
Skipping line 16635: expected 11 fields, saw 12
Skipping line 16722: expected 11 fields, saw 12
Skipping line 18241: expected 11 fields, saw 12
Skipping line 18367: expected 11 fields, saw 12
Skipping line 18479: expected 11 fields, saw 12
Skipping line 19814: expected 11 fields, saw 12
Skipping line 19859: expected 11 fields, saw 12
Skipping line 19909: expected 11 fields, saw 12
Skipping line 19935: expected 11 fields, saw 12
Skipping line 20386: expected 11 fields, saw 12
Skipping line 20533: expected 11 fields, saw 12
Skipping line 20764: expected 11 fields, saw 12
Skipping line 21145: expected 11 fields, saw 12
Skipping line 21291: expected 11 fields, saw 12
Skipping line 21309: expected 11 fields, saw 12
Skipping line 21576: expected 11 fields, saw 12
Skipping line 21966: expected 11 fields, saw 12
Skipping line 22092: expected 11 fields, saw 12
Skipping line 22108: expected 11 fields, saw 12
Skipping line 22236: expected 11 fields, saw 12
Skipping line 22785: expected 11 fields, saw 12
Skipping line 23143: expected 11 fields, saw 12
Skipping line 23145: expected 11 fields, saw 12
Skipping line 23251: expected 11 fields, saw 12
Skipping line 23369: expected 11 fields, saw 12
Skipping line 23464: expected 11 fields, saw 12
Skipping line 23622: expected 11 fields, saw 12
Skipping line 23732: expected 11 fields, saw 12
Skipping line 23924: expected 11 fields, saw 12
Skipping line 24696: expected 11 fields, saw 12
Skipping line 25543: expected 11 fields, saw 12
Skipping line 25703: expected 11 fields, saw 12
Skipping line 25815: expected 11 fields, saw 12
Skipping line 26185: expected 11 fields, saw 12
Skipping line 27424: expected 11 fields, saw 12
Skipping line 27465: expected 11 fields, saw 12
Skipping line 28083: expected 11 fields, saw 12
Skipping line 28282: expected 11 fields, saw 12
Skipping line 28460: expected 11 fields, saw 12
Skipping line 28745: expected 11 fields, saw 12
Skipping line 29674: expected 11 fields, saw 12
Skipping line 30342: expected 11 fields, saw 12
Skipping line 30417: expected 11 fields, saw 12
Skipping line 31154: expected 11 fields, saw 12
Skipping line 31308: expected 11 fields, saw 12
Skipping line 32198: expected 11 fields, saw 12
Skipping line 32439: expected 11 fields, saw 12
Skipping line 32675: expected 11 fields, saw 12
Skipping line 33134: expected 11 fields, saw 12
Skipping line 33442: expected 11 fields, saw 12
Skipping line 34184: expected 11 fields, saw 12
Skipping line 34731: expected 11 fields, saw 12
Skipping line 34869: expected 11 fields, saw 12
Skipping line 35107: expected 11 fields, saw 12
Skipping line 35300: expected 11 fields, saw 12
Skipping line 35396: expected 11 fields, saw 12
Skipping line 35913: expected 11 fields, saw 12
Skipping line 36445: expected 11 fields, saw 12
Skipping line 36693: expected 11 fields, saw 12
Skipping line 36723: expected 11 fields, saw 12
Skipping line 37293: expected 11 fields, saw 12
Skipping line 37361: expected 11 fields, saw 12
Skipping line 37980: expected 11 fields, saw 12
Skipping line 38090: expected 11 fields, saw 12
Skipping line 38197: expected 11 fields, saw 12
Skipping line 39431: expected 11 fields, saw 12
Skipping line 39598: expected 11 fields, saw 12
Skipping line 39679: expected 11 fields, saw 12
Skipping line 39794: expected 11 fields, saw 12
Skipping line 40021: expected 11 fields, saw 12
Skipping line 40430: expected 11 fields, saw 12
Skipping line 42858: expected 11 fields, saw 12
Skipping line 43662: expected 11 fields, saw 12
Skipping line 44162: expected 11 fields, saw 12
Skipping line 45529: expected 11 fields, saw 12
Skipping line 46678: expected 11 fields, saw 12
Skipping line 46788: expected 11 fields, saw 12
Skipping line 46811: expected 11 fields, saw 12
Skipping line 46924: expected 11 fields, saw 12
Skipping line 47287: expected 11 fields, saw 12
Skipping line 47377: expected 11 fields, saw 12
Skipping line 47419: expected 11 fields, saw 12
Skipping line 47492: expected 11 fields, saw 12
Skipping line 47629: expected 11 fields, saw 12
Skipping line 48125: expected 11 fields, saw 12
Skipping line 48932: expected 11 fields, saw 12
Skipping line 48971: expected 11 fields, saw 12
Skipping line 49440: expected 11 fields, saw 12
Skipping line 49457: expected 11 fields, saw 12
Skipping line 50670: expected 11 fields, saw 12
Skipping line 50960: expected 11 fields, saw 12
Skipping line 51275: expected 11 fields, saw 12
Skipping line 51649: expected 11 fields, saw 12
Skipping line 51993: expected 11 fields, saw 12
Skipping line 52023: expected 11 fields, saw 12
Skipping line 52059: expected 11 fields, saw 12
Skipping line 52259: expected 11 fields, saw 12
Skipping line 52368: expected 11 fields, saw 12
Skipping line 52783: expected 11 fields, saw 12
Skipping line 53064: expected 11 fields, saw 12
Skipping line 53135: expected 11 fields, saw 12
Skipping line 53514: expected 11 fields, saw 12
Skipping line 54092: expected 11 fields, saw 12
Skipping line 55403: expected 11 fields, saw 12
Skipping line 57476: expected 11 fields, saw 12
Skipping line 58646: expected 11 fields, saw 12
Skipping line 58808: expected 11 fields, saw 12
Skipping line 59119: expected 11 fields, saw 12
Skipping line 59727: expected 11 fields, saw 12
Skipping line 60386: expected 11 fields, saw 12
Skipping line 60478: expected 11 fields, saw 12
Skipping line 60542: expected 11 fields, saw 12
Skipping line 60913: expected 11 fields, saw 12
Skipping line 61032: expected 11 fields, saw 12
Skipping line 61640: expected 11 fields, saw 12
Skipping line 61732: expected 11 fields, saw 12
Skipping line 62029: expected 11 fields, saw 12
Skipping line 62219: expected 11 fields, saw 12
Skipping line 63657: expected 11 fields, saw 12
Skipping line 64712: expected 11 fields, saw 12

Skipping line 65881: expected 11 fields, saw 12
Skipping line 66093: expected 11 fields, saw 12
Skipping line 66095: expected 11 fields, saw 12
Skipping line 66476: expected 11 fields, saw 12
Skipping line 66549: expected 11 fields, saw 12
Skipping line 66550: expected 11 fields, saw 12
Skipping line 68102: expected 11 fields, saw 12
Skipping line 69441: expected 11 fields, saw 12
Skipping line 70104: expected 11 fields, saw 12
Skipping line 70452: expected 11 fields, saw 12
Skipping line 70642: expected 11 fields, saw 12
Skipping line 70644: expected 11 fields, saw 12
Skipping line 70716: expected 11 fields, saw 12
Skipping line 71345: expected 11 fields, saw 12
Skipping line 71634: expected 11 fields, saw 12
Skipping line 72091: expected 11 fields, saw 12
Skipping line 72119: expected 11 fields, saw 12
Skipping line 73543: expected 11 fields, saw 12
Skipping line 74654: expected 11 fields, saw 12
Skipping line 74785: expected 11 fields, saw 12
Skipping line 74918: expected 11 fields, saw 12
Skipping line 75062: expected 11 fields, saw 12
Skipping line 75346: expected 11 fields, saw 12
Skipping line 75416: expected 11 fields, saw 12
Skipping line 75677: expected 11 fields, saw 12
Skipping line 75833: expected 11 fields, saw 12
Skipping line 76117: expected 11 fields, saw 12
Skipping line 76834: expected 11 fields, saw 12
Skipping line 77540: expected 11 fields, saw 12
Skipping line 77568: expected 11 fields, saw 12
Skipping line 77607: expected 11 fields, saw 12
Skipping line 77871: expected 11 fields, saw 12
Skipping line 78117: expected 11 fields, saw 12
Skipping line 78526: expected 11 fields, saw 12
Skipping line 78605: expected 11 fields, saw 12
Skipping line 79151: expected 11 fields, saw 12
Skipping line 79945: expected 11 fields, saw 12
Skipping line 80156: expected 11 fields, saw 12
Skipping line 80328: expected 11 fields, saw 12
Skipping line 80382: expected 11 fields, saw 12
Skipping line 80421: expected 11 fields, saw 12
Skipping line 80503: expected 11 fields, saw 12
Skipping line 82071: expected 11 fields, saw 12
Skipping line 82566: expected 11 fields, saw 12
Skipping line 86123: expected 11 fields, saw 12
Skipping line 87218: expected 11 fields, saw 12
Skipping line 87457: expected 11 fields, saw 12
Skipping line 87579: expected 11 fields, saw 12

C:\Users\agungteguh\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
requests['latitude'].unique()

array(['29.8830556', '29.38421', '53.2', ..., '44.1269444', '39.078889',
       '50.465843'], dtype=object)

In [7]:
rows_with_dashes = requests['latitude'].str.contains('-').fillna(False)
len(requests[rows_with_dashes])

1207

In [8]:
requests[rows_with_dashes]

               datetime                                               city state country      shape duration (seconds) duration (hours/min)                                           comments date posted    latitude   longitude
36     10/10/1982 07:00                             gisborne (new zealand)   NaN     NaN       disk                120                 2min        gisborne nz 1982 wainui beach to sponge bay   1/11/2002  -38.662334  178.017649
69     10/10/1996 20:00                 lake macquarie (nsw&#44 australia)   NaN     NaN      light                300                5 min  RED LIGHT WITH OTHER RED FLASHING LIGHT&#44 ON...   5/24/1999  -33.093373  151.588982
112    10/10/2001 04:33                         sydney (nsw&#44 australia)   NaN      au  formation                180            3 minutes                               formation and impact  11/20/2001  -33.861481  151.205475
121    10/10/2002 04:00         adelaide (pt. wakefield) (south australia)   NaN      au     circle                600              10 mins                                 one light became 3  10/28/2002  -34.928661  138.598633
127    10/10/2002 22:00                      burnie (tasmania) (australia)   NaN      au      cross                NaN                   12                      the craft was large and noisy   7/13/2005   -41.05584  145.903748
307    10/11/1986 20:30                  alice springs  (nt&#44 australia)   NaN      au        NaN                 20           20 seconds  Being  of light reported&#44Jesus or another m...   1/19/2005  -23.697479  133.883621
421    10/11/2007 19:28                               brassall (australia)   NaN     NaN    unknown               3600             1 hour +         Accidentally photographed very strange UFO  11/28/2007  -27.597553  152.745500
432    10/11/2008 17:30                               bellmere (australia)   NaN     NaN   cylinder                240            4 minutes  Very large long white cylinder object travelin...   1/10/2009  -27.088079  152.928057
560     10/1/1970 23:00                          indian ocean (usn vessel)   NaN     NaN      light                240          3-4 minutes  Bright object seemingly appeared out of nowher...    7/8/2004  -33.137551   81.826172
745     10/1/2000 22:00                  healesville. victoria (australia)   NaN     NaN      light                 40          2/3 minutes          light in sky projecting &quot;beam&quot;.   8/28/2003  -37.653829  145.517006
757     10/1/2001 24:00                   chulucanas-piura la vieja (peru)   NaN     NaN      other            6312000              2 years  go to:  http://www.24horas.com.pe/data/videos/...    3/4/2003   -5.129547  -80.120569
931     10/1/2007 02:00                        adelaide  (south australia)   NaN      au       oval                300               5 mins  Dancing &amp; Flashing UFO in Glenelg&#44 Sout...   10/8/2007  -34.928661  138.598633
1081   10/12/1975 01:00  perth (w. of; southern cross) (western australia)   NaN      au   fireball                900           15 minutes                              fire ball and min min   6/18/2004   -31.95224  115.861397
1090   10/12/1988 16:30                      melbourne (vic&#44 australia)   NaN      au      cigar                900          15 min&#39s  Large cigar shaped craft&#44flying sideways&#4...   9/29/2004  -37.813938  144.963425
1120   10/12/2000 11:09            la serena (vi&ntilde;a del mar) (chile)   NaN     NaN  formation               7620                127 m  I dont Write English But I Have a 3 Videos Ber...   4/25/2002  -29.906301  -71.250204
1141   10/12/2002 13:50                                 leeman (australia)   NaN      au       cone                NaN                    5  Cone shaped&#44 with 4 huge lights and one at ...  12/23/2002  -29.949369  114.982101
1146   10/12/2002 19:13                                  australia (rural)   NaN     NaN      other                420            7 minutes  This was a very close encounter with  unidenti...   8/12/2008  -25.274398  133.775136
1163   10/12/2003 24:00                               salatiga (indonesia)   NaN     NaN       disk                 22           22 seconds                       UFO in Salatiga&#44Indonesia  10/31/2003    -7.33683  110.498817
1476   10/13/2007 19:00                               timaru (new zealand)   NaN     NaN   fireball                NaN                   10  the ufo was hoverig over  a field on a friends...  11/28/2007  -44.396972  171.254973
1494   10/13/2009 14:00                            whakatane (new zealand)   NaN     NaN   triangle               1800             15-30min  Hi I decided to get out of Auckland City for a...  12/12/2009  -37.953411  176.990801
1665   10/14/2002 12:25                       brisbane (qld&#44 australia)   NaN      au       oval                 20           20 seconds  i just got back from work. i was taking a show...  10/15/2002   -27.47101  153.024292
1901   10/15/1968 21:30          pacific ocean (1500mi.sw of u.s.mainland)   NaN     NaN     circle                 30              30 sec.  Bright&#44 white soundless orb with no trajeco...   9/12/2003   -8.783195 -124.508523
2024   10/15/1987 21:00      cheltenham (melbourne) (victoria) (australia)   NaN      au     circle                600           10 minutes  Sighting of the Mother ship &quot;UFO&quot; Ch...  11/20/2013  -37.966667  145.066667
2067   10/15/1992 22:30                              nhlangano (swaziland)   NaN     NaN     sphere                600           10 minutes  Strange light emmitting shpere in Africa with ...   1/17/2004  -27.116667   31.200000
2095   10/15/1995 21:00                              kallangur (australia)   NaN     NaN   fireball                300            5 minutes                                   UFO in kallangur   12/9/2000  -27.251405  152.991072
2253   10/15/2002 20:30                          darwin (nt&#44 australia)    nt      au    chevron                 60                 1min  two loud noises&#44 saw unusual lights in the ...  10/15/2002   -12.45722  130.836639
2647   10/16/2010 13:00                                          anonymous   NaN     NaN        NaN                NaN            until now  Just want to talk to someone about what I&#39v...    1/5/2011  -16.365181  -46.895720
2695   10/16/2012 19:11                             gold coast (australia)   NaN      au        egg                 45           45 seconds         Orb shaped UFO &#44 red and blue flare out  10/30/2012   -28.00029  153.430878
2761   10/17/1999 20:25                      melbourne (vic&#44 australia)   NaN      au   cylinder               1500               25 min  The Craft zipped passed&#44 zipped back&#44 st...   4/15/2000  -37.813938  144.963425
2790   10/17/2003 16:54                           cape town (south africa)   NaN     NaN     sphere                 30               30 sec      Round sphere speeding along a horizontal path  10/31/2003  -33.924868   18.424055
...                 ...                                                ...   ...     ...        ...                ...                  ...                                                ...         ...         ...         ...
84595    9/2/2004 01:45                        adelaide  (south australia)   NaN      au      light                 35            35 second          bright and very fast light over adelaide.    9/9/2004  -34.928661  138.598633
84640    9/2/2006 19:34                               brisbane (australia)   NaN      au     circle                 60           60 seconds  VIDEO PROOF  jets are no match for the speed o...  10/30/2006   -27.47101  153.024292
84799    9/2/2013 21:30                               adelaide (australia)   NaN      au   fireball                  5            5 seconds  Reddish fire ball/falling star doubles back on...    9/9/2013  -34.928661  138.598633
84891   9/22/2004 02:30                                 mackay (australia)   NaN      au        egg                 45          30 -45 secs  a bright light getting closer to us&#44 then v...  10/27/2004   -21.15345  149.165543
84949   9/22/2006 02:00                                          indonesia   NaN     NaN       oval                300            5 minutes  ship object was landed at the center of tol ro...  10/31/2008   -0.789275  113.921327
84970   9/22/2007 05:00                          glen waverley (australia)   NaN      au    diamond               1800          +30 minutes  Hovering diamond shaped shiny object.  ((NUFOR...   10/8/2007  -37.883333  145.166667
84995   9/22/2008 05:00                         sydney&#44 nsw (australia)   NaN     NaN      other                 10           10 seconds  Green ball splits into two over Sydney&#44 Aus...  10/31/2008  -33.867487  151.206990
85026   9/22/2010 22:30                            atlantic ocean (brazil)   NaN     NaN      light                120              minutes  UFO?...bouncing light then the large object th...  11/21/2010  -14.599413  -28.673147
85051   9/22/2012 17:45                            randburg (south africa)    al     NaN       disk               3600               1 hour  We were standing on a watch tower watching the...   9/24/2012   -26.15835   27.958770
85062   9/22/2012 21:05                               napier (new zealand)   NaN     NaN    unknown                600          10  minutes  8 bright intense round lights&#44 appearing in...  11/19/2012  -39.492844  176.912018
85333   9/23/2012 19:20                         amanzimtoti (south africa)   NaN     NaN      light                 60             1 minute  Orange light seen moving from North To South o...   9/24/2012      -30.05   30.883333
85670   9/25/2003 22:35                         sydney (nsw&#44 australia)   NaN      au        egg                 20               20 sec        3 Weakly lit egg shapes in tight formation.   10/7/2003  -33.861481  151.205475
85946   9/26/2008 17:30                               bellmere (australia)   NaN     NaN       disk                600           10 minutes  Saw saucer shaped UFO that gave me the impress...   1/10/2009  -27.088079  152.928057
86005   9/26/2011 22:40                                 sydney (australia)   NaN      au    diamond                360            6 minutes                               Diamonds in the Sky.  10/10/2011  -33.861481  151.205475
86024   9/26/2012 22:00                                   ubud (indonesia)   NaN     NaN        NaN                120           ~2 minutes  Strong orange light flickering in the dark clo...  10/30/2012   -8.519268  115.263298
86160   9/27/2008 00:30                        adelaide  (south australia)    oh      au      light                180                3mins  A set of 5-7 unknown lights flash over the cit...  10/31/2008  -34.928661  138.598633
86439   9/28/2012 20:05                           langebaan (south africa)   NaN     NaN       oval                 20           20 seconds  Two objects moving apart&#44 one coming down&#...  10/30/2012  -33.091667   18.033333
86464   9/28/2013 18:50                                  wyong (australia)   NaN      au      light                 90           90 seconds             fast moving light followed by 3 others   9/30/2013   -33.28273  151.425400
86536   9/29/1999 14:30                     warnambool&#44 vic (australia)   NaN     NaN    unknown               0.05         0.05 seconds        It was very quick. We have a picture of it.   11/2/1999  -38.382766  142.484499
86575   9/29/2003 22:30                                              kenya   NaN     NaN   changing                  5         five seconds               ovalish sauce&#44 emiting light rays  10/15/2003   -0.023559   37.906193
86727   9/29/2013 19:00                     maseru (lesotho; south africa)   NaN     NaN     circle               1800           30 minutes  White disk seen in the sky over Lesotho and So...   9/30/2013      -29.31   27.480000
86728   9/29/2013 19:05                              durban (south africa)   NaN     NaN     circle                360            6 minutes  A round object in the sky with an aura of ligh...   9/30/2013   -29.85868   31.021840
86732   9/29/2013 20:00                      port louis (mauritius island)   NaN     NaN     circle                900           15 minutes  Hi if you are reading this message some people...   9/30/2013  -20.166667   57.516667
86774   9/30/1995 23:15                               canberra (australia)   NaN      au      light                 60             1 minute         Strange light seen over Canberra Australia  10/27/2004   -35.27603  149.134350
86829   9/30/2001 23:35                     wollongong (nsw&#44 australia)   NaN      au   fireball               1200              20 mins                   Fireball object flying silently.  10/12/2001     -34.424  150.893448
86831   9/30/2002 03:30                    curitiba - s of brazil (brazil)   NaN     NaN    unknown                NaN               30&#39                                          Visitors?  10/15/2002  -25.420039  -49.265097
87482    9/4/2012 02:30                                  perth (australia)   NaN      au     sphere                120            2 minutes                                   Large orange orb   9/24/2012   -31.95224  115.861397
87958    9/7/1983 19:30                                 sydney (australia)   NaN      au      light                 15           15 seconds               Moving light in Sydney&#44 Australia   3/13/2012  -33.861481  151.205475
88082    9/7/2008 19:32                               brisbane (australia)   NaN      au  rectangle                 60                1 min  slow moving rectangle object at low altitude p...  10/31/2008   -27.47101  153.024292
88552    9/9/2007 19:01                              melbourne (australia)   NaN      au     circle                600               10 min                                            Hostile   10/8/2007  -37.813938  144.963425

[1207 rows x 11 columns]

In [9]:
long_zip_codes = requests['latitude'].str.len() < 5
requests['latitude'][long_zip_codes].unique()

array(['53.2', '51.5', '53.8', '46.3', '44.3', '48.4', '49.1', '43.9',
       '45.6', '53.5', '45.5', '51.4', '53.3', '52.3', '15.5', '50.1',
       '18.2', '54.4', '51.9', '56.5', '50.4', '43.8', '53', '45.9',
       '36.9', '49.9', '46.5', '42.1', '43.1', '43.7', '54.2', '52.8',
       '50.8', '49.2', '50.7', '45.1', '55.1', '45.4', '53.1', '54.5',
       '-35', '5.55', '46.8', '27.7', '56.6', '56.2', '45', '51.1', '53.7',
       '44', '27', '52.6', '44.1', '16.8', '51.8', '50.9', '50.6', '55.3',
       '42.4', '51', '48', '52.2', '46.4', '52', '46', '44.2', '34.8',
       '-18', '57.2', '52.9', '53.4', '72.7', '33.1', '53.9', '10.5',
       '41.4', '51.2', '-6.6', '49.3', '55.8', '46.2', '47', '52.5',
       '49.7', '42.9', '49.4', '44.6', '43.3', '44.9', '46.7', '-6.8',
       '51.6', '31.4', '6.25', '55.5', '54', '56', '51.7', '43.6', '43.2',
       '49.5', '50.3', '4.6', '36.8', '49.8', '49.6', '46.1', '7.95', '55',
       '19.3', '56.7', '47.6', '34.6', '10.9', '52.4', '44.5', '12.9',
       '54.6', '8.38', '25.1', '48.1', '69.7', '50', '54.9', '51.3',
       '55.7', '45.3', '29.5', '54.7', '50.2', '21.3', '30.5', '44.4',
       '55.9', '36.7', '29.9', '54.1', '47.5', '42.3', '10.2', '7.55'], dtype=object)

In [10]:
requests[requests['latitude'] == '0']

Empty DataFrame
Columns: [datetime, city, state, country, shape, duration (seconds), duration (hours/min), comments, date posted, latitude, longitude]
Index: []

In [11]:
zero_lat = requests['latitude'] == '0'
requests.loc[zero_lat, 'latitude'] = np.nan

In [12]:
unique_lat = requests['latitude'].unique()
unique_lat.sort()
unique_lat

array([nan, '-0.023559', '-0.180653', ..., '9.925201', '9.931233',
       '9.977844'], dtype=object)

In [13]:
lat = requests['latitude']
# Let's say the zips starting with '0' and '1' are okay, for now. (this isn't actually true -- 13221 is in Syracuse, and why?)
is_close = lat.str.startswith('0') | lat.str.startswith('1')
# There are a bunch of NaNs, but we're not interested in them right now, so we'll say they're False
is_far = ~(is_close) & lat.notnull()

In [14]:
lat[is_far]

0        29.8830556
1          29.38421
2              53.2
3        28.9783333
4        21.4180556
5        36.5950000
6         51.434722
7        41.1175000
8        33.5861111
9        30.2947222
10       33.9163889
11       35.2333333
12       40.6686111
13       37.1536111
14       35.8238889
15       36.8430556
16       42.5377778
17       41.3252778
18        32.364167
20       42.3916667
21             51.5
22       38.1055556
23       32.8544444
24       45.5827778
25        51.783333
26       29.4238889
27       38.2541667
28       40.7008333
29       41.7002778
30        53.970571
            ...
88649    40.7141667
88650    33.4330556
88651    34.2783333
88652    32.7763889
88653    34.2977778
88654    36.8466667
88655    42.8863889
88656    41.0525000
88657    32.7152778
88658    40.3355556
88659     39.078889
88660    30.5050000
88661         53.25
88662    34.9744444
88663     40.858433
88664    33.2097222
88665    36.5297222
88666     50.465843
88667    29.6513889
88668     34.367594
88669          46.3
88670    34.1013889
88671    36.1658333
88672    43.6136111
88673    48.1958333
88674    38.2972222
88675    38.9011111
88676    35.6527778
88677    34.3769444
88678    26.1219444
Name: latitude, dtype: object

In [15]:
requests[is_far][['latitude', 'longitude', 'city']].sort('latitude')

C:\Users\agungteguh\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

         latitude   longitude                                               city
86575   -0.023559   37.906193                                              kenya
13999   -0.023559   37.906193                                              kenya
34164   -0.180653  -78.467838                                    quito (ecuador)
60249   -0.180653  -78.467838                                    quito (ecuador)
83096   -0.180653  -78.467838                                              quito
38589   -0.180653  -78.467838                                              quito
47690   -0.180653  -78.467838                                    quito (ecuador)
13774   -0.589724  101.343106                           west sumatra (indonesia)
49351   -0.755775   33.438353                       central victoria (australia)
84949   -0.789275  113.921327                                          indonesia
61540   -0.829278  -90.982067                    galapagos archipelago (ecuador)
19937       -0.95  100.353056                                 padang (indonesia)
5073        -0.95  100.353056                  padang (west sumatra) (indonesia)
24840       -0.95  100.353056                                 padang (indonesia)
25220       -0.95  100.353056                                 padang (indonesia)
21053       -0.95  100.353056                   padang (west sumatra)(indonesia)
22024       -0.95  100.353056                                 padang (indonesia)
11662       -0.95  100.353056                                 padang (indonesia)
46956   -1.038757   37.083375                                      thika (kenya)
27742   -1.292066   36.821946                                    nairobi (kenya)
36666   -1.292066   36.821946                                    nairobi (kenya)
19709   -1.292066   36.821946                                    nairobi (kenya)
43344   -1.396389  -78.424722                                    banos (ecuador)
83336    -1.99804  -54.072850                       monte alegre (para) (brazil)
64522  -11.938537  -76.701904                                     chosica (peru)
30558  -12.094816  -76.756737                                 cieneguilla (peru)
27893   -12.45722  130.836639                          darwin (nt&#44 australia)
2253    -12.45722  130.836639                          darwin (nt&#44 australia)
17900   -12.45722  130.836639                                 darwin (australia)
47133   -12.45722  130.836639                                 darwin (australia)
...           ...         ...                                                ...
52418       9.295  -75.396111                               sincelejo (colombia)
53397       9.295  -75.396111                               sincelejo (colombia)
84590    9.431944  -84.161111                                quepos (costa rica)
52391    9.431944  -84.161111                                quepos (costa rica)
72280    9.437249   77.080585                                shabarimala (india)
23628    9.498067   76.338848                                  alappuzha (india)
3394     9.512017  100.013593                               koh samui (thailand)
1316     9.512017  100.013593                               koh samui (thailand)
7265     9.512017  100.013593                                koh samui (thailand
7264     9.512017  100.013593                                koh samui (thailand
12805    9.512017  100.013593                               koh samui (thailand)
37956    9.600875   41.850142                               dire dawa (ethiopia)
67311    9.672948  123.873002                      tagbilaran city (philippines)
47136    9.748917  -83.753428                                         costa rica
25900    9.748917  -83.753428                      costa rica (riu palace hotel)
21927    9.748917  -83.753428                                         costa rica
21083    9.916667  -68.300000                             tinaquillo (venezuela)
9053     9.916667  -68.300000                             tinaquillo (venezuela)
52197    9.920695  -84.146152                                escazu (costa rica)
64390    9.920987  -84.098549  tempesque bridge (west of palma approach to) (...
38059    9.925201   78.119775                                    madurai (india)
18703    9.931233   76.267304                              cochin (near) (china)
21684    9.931233   76.267304                                     cochin (india)
71272    9.931233   76.267304                                     cochin (india)
55032    9.931233   76.267304                                     cochin (india)
52850    9.931233   76.267304                                     cochin (india)
21408    9.931233   76.267304                                     cochin (india)
18472    9.977844  -84.829421                            puntarenas (costa rica)
3280     9.977844  -84.829421                            puntarenas (costa rica)
22335    9.977844  -84.829421                            punteranus (costa rica)

[86640 rows x 3 columns]

In [16]:
requests['city'].str.upper().value_counts()

SEATTLE                                   570
PHOENIX                                   488
PORTLAND                                  399
LAS VEGAS                                 395
LOS ANGELES                               375
SAN DIEGO                                 361
HOUSTON                                   317
CHICAGO                                   295
TUCSON                                    258
MIAMI                                     258
ORLANDO                                   237
AUSTIN                                    229
ALBUQUERQUE                               229
SPRINGFIELD                               228
SACRAMENTO                                216
COLUMBUS                                  213
SAN FRANCISCO                             204
LONDON (UK/ENGLAND)                       204
DENVER                                    197
SAN JOSE                                  197
SAN ANTONIO                               193
JACKSONVILLE                              189
TORONTO (CANADA)                          186
DALLAS                                    176
MYRTLE BEACH                              172
SALEM                                     167
CHARLOTTE                                 162
NEW YORK CITY (BROOKLYN)                  159
COLUMBIA                                  158
MESA                                      151
                                         ...
CAMROSE (CANADA)                            1
SANDAKAN (SABAH) (MALAYSIA)                 1
LA POINTE                                   1
WEST NYACK                                  1
HARRINGTON (5 MILES WEST OF)                1
KIMMELL                                     1
ULSTER HEIGHTS                              1
BONNEVILLE SALT FLATS (UNINCORP.)           1
ORLANDO/LAKE BUENA VISTA                    1
HELLS CANYON                                1
EVERETT/SNOHOMISH                           1
OKLAHOMA/TEXAS BORDER                       1
PICKNEY                                     1
RIEBEECKSTAD/WELKOM (SOUTH AFRICA)          1
JURUPA                                      1
EDMORE                                      1
PARKWOOD IN MEDWAY (UK/ENGLAND)             1
INDIANAPOLIS (SE SIDE)                      1
GRAND CAYMAN (OFFSHORE)                     1
LONDON ((UK/ENGLAND)                        1
ELDERSBURG/RANDALLSTOWN                     1
BAIE-COMEAU (85 KM N OF) (CANADA)           1
WARM SPRINGS (APPROX. 15MI. EAST OF 6)      1
EUROPE                                      1
ANZA AND GARNER VALLEY (NEAR)               1
LACYGNE                                     1
OLIVEREA                                    1
GULA                                        1
HOXIE                                       1
MANNS CHOICE                                1
Name: city, dtype: int64

In [17]:
na_values = ['NO CLUE', 'N/A','NaN', '0']
requests = pd.read_csv('exercise-5/complete.csv', 
                       na_values=na_values, 
                       dtype={'latitude': str},error_bad_lines=False)

Skipping line 878: expected 11 fields, saw 12
Skipping line 1713: expected 11 fields, saw 12
Skipping line 1815: expected 11 fields, saw 12
Skipping line 2858: expected 11 fields, saw 12
Skipping line 3734: expected 11 fields, saw 12
Skipping line 4756: expected 11 fields, saw 12
Skipping line 5389: expected 11 fields, saw 12
Skipping line 5423: expected 11 fields, saw 12
Skipping line 5614: expected 11 fields, saw 12
Skipping line 5849: expected 11 fields, saw 12
Skipping line 6093: expected 11 fields, saw 12
Skipping line 7516: expected 11 fields, saw 12
Skipping line 7626: expected 11 fields, saw 12
Skipping line 8893: expected 11 fields, saw 12
Skipping line 9015: expected 11 fields, saw 12
Skipping line 9571: expected 11 fields, saw 12
Skipping line 9620: expected 11 fields, saw 12
Skipping line 9751: expected 11 fields, saw 12
Skipping line 10157: expected 11 fields, saw 12
Skipping line 10427: expected 11 fields, saw 12
Skipping line 12035: expected 11 fields, saw 12
Skipping line 12113: expected 11 fields, saw 12
Skipping line 12144: expected 11 fields, saw 12
Skipping line 12891: expected 11 fields, saw 12
Skipping line 14613: expected 11 fields, saw 12
Skipping line 16031: expected 11 fields, saw 12
Skipping line 16344: expected 11 fields, saw 12
Skipping line 16399: expected 11 fields, saw 12
Skipping line 16635: expected 11 fields, saw 12
Skipping line 16722: expected 11 fields, saw 12
Skipping line 18241: expected 11 fields, saw 12
Skipping line 18367: expected 11 fields, saw 12
Skipping line 18479: expected 11 fields, saw 12
Skipping line 19814: expected 11 fields, saw 12
Skipping line 19859: expected 11 fields, saw 12
Skipping line 19909: expected 11 fields, saw 12
Skipping line 19935: expected 11 fields, saw 12
Skipping line 20386: expected 11 fields, saw 12
Skipping line 20533: expected 11 fields, saw 12
Skipping line 20764: expected 11 fields, saw 12
Skipping line 21145: expected 11 fields, saw 12
Skipping line 21291: expected 11 fields, saw 12
Skipping line 21309: expected 11 fields, saw 12
Skipping line 21576: expected 11 fields, saw 12
Skipping line 21966: expected 11 fields, saw 12
Skipping line 22092: expected 11 fields, saw 12
Skipping line 22108: expected 11 fields, saw 12
Skipping line 22236: expected 11 fields, saw 12
Skipping line 22785: expected 11 fields, saw 12
Skipping line 23143: expected 11 fields, saw 12
Skipping line 23145: expected 11 fields, saw 12
Skipping line 23251: expected 11 fields, saw 12
Skipping line 23369: expected 11 fields, saw 12
Skipping line 23464: expected 11 fields, saw 12
Skipping line 23622: expected 11 fields, saw 12
Skipping line 23732: expected 11 fields, saw 12
Skipping line 23924: expected 11 fields, saw 12
Skipping line 24696: expected 11 fields, saw 12
Skipping line 25543: expected 11 fields, saw 12
Skipping line 25703: expected 11 fields, saw 12
Skipping line 25815: expected 11 fields, saw 12
Skipping line 26185: expected 11 fields, saw 12
Skipping line 27424: expected 11 fields, saw 12
Skipping line 27465: expected 11 fields, saw 12
Skipping line 28083: expected 11 fields, saw 12
Skipping line 28282: expected 11 fields, saw 12
Skipping line 28460: expected 11 fields, saw 12
Skipping line 28745: expected 11 fields, saw 12
Skipping line 29674: expected 11 fields, saw 12
Skipping line 30342: expected 11 fields, saw 12
Skipping line 30417: expected 11 fields, saw 12
Skipping line 31154: expected 11 fields, saw 12
Skipping line 31308: expected 11 fields, saw 12
Skipping line 32198: expected 11 fields, saw 12
Skipping line 32439: expected 11 fields, saw 12
Skipping line 32675: expected 11 fields, saw 12
Skipping line 33134: expected 11 fields, saw 12
Skipping line 33442: expected 11 fields, saw 12
Skipping line 34184: expected 11 fields, saw 12
Skipping line 34731: expected 11 fields, saw 12
Skipping line 34869: expected 11 fields, saw 12
Skipping line 35107: expected 11 fields, saw 12
Skipping line 35300: expected 11 fields, saw 12
Skipping line 35396: expected 11 fields, saw 12
Skipping line 35913: expected 11 fields, saw 12
Skipping line 36445: expected 11 fields, saw 12
Skipping line 36693: expected 11 fields, saw 12
Skipping line 36723: expected 11 fields, saw 12
Skipping line 37293: expected 11 fields, saw 12
Skipping line 37361: expected 11 fields, saw 12
Skipping line 37980: expected 11 fields, saw 12
Skipping line 38090: expected 11 fields, saw 12
Skipping line 38197: expected 11 fields, saw 12
Skipping line 39431: expected 11 fields, saw 12
Skipping line 39598: expected 11 fields, saw 12
Skipping line 39679: expected 11 fields, saw 12
Skipping line 39794: expected 11 fields, saw 12
Skipping line 40021: expected 11 fields, saw 12
Skipping line 40430: expected 11 fields, saw 12
Skipping line 42858: expected 11 fields, saw 12
Skipping line 43662: expected 11 fields, saw 12
Skipping line 44162: expected 11 fields, saw 12
Skipping line 45529: expected 11 fields, saw 12
Skipping line 46678: expected 11 fields, saw 12
Skipping line 46788: expected 11 fields, saw 12
Skipping line 46811: expected 11 fields, saw 12
Skipping line 46924: expected 11 fields, saw 12
Skipping line 47287: expected 11 fields, saw 12
Skipping line 47377: expected 11 fields, saw 12
Skipping line 47419: expected 11 fields, saw 12
Skipping line 47492: expected 11 fields, saw 12
Skipping line 47629: expected 11 fields, saw 12
Skipping line 48125: expected 11 fields, saw 12
Skipping line 48932: expected 11 fields, saw 12
Skipping line 48971: expected 11 fields, saw 12
Skipping line 49440: expected 11 fields, saw 12
Skipping line 49457: expected 11 fields, saw 12
Skipping line 50670: expected 11 fields, saw 12
Skipping line 50960: expected 11 fields, saw 12
Skipping line 51275: expected 11 fields, saw 12
Skipping line 51649: expected 11 fields, saw 12
Skipping line 51993: expected 11 fields, saw 12
Skipping line 52023: expected 11 fields, saw 12
Skipping line 52059: expected 11 fields, saw 12
Skipping line 52259: expected 11 fields, saw 12
Skipping line 52368: expected 11 fields, saw 12
Skipping line 52783: expected 11 fields, saw 12
Skipping line 53064: expected 11 fields, saw 12
Skipping line 53135: expected 11 fields, saw 12
Skipping line 53514: expected 11 fields, saw 12
Skipping line 54092: expected 11 fields, saw 12
Skipping line 55403: expected 11 fields, saw 12
Skipping line 57476: expected 11 fields, saw 12
Skipping line 58646: expected 11 fields, saw 12
Skipping line 58808: expected 11 fields, saw 12
Skipping line 59119: expected 11 fields, saw 12
Skipping line 59727: expected 11 fields, saw 12
Skipping line 60386: expected 11 fields, saw 12
Skipping line 60478: expected 11 fields, saw 12
Skipping line 60542: expected 11 fields, saw 12
Skipping line 60913: expected 11 fields, saw 12
Skipping line 61032: expected 11 fields, saw 12
Skipping line 61640: expected 11 fields, saw 12
Skipping line 61732: expected 11 fields, saw 12
Skipping line 62029: expected 11 fields, saw 12
Skipping line 62219: expected 11 fields, saw 12
Skipping line 63657: expected 11 fields, saw 12
Skipping line 64712: expected 11 fields, saw 12

Skipping line 65881: expected 11 fields, saw 12
Skipping line 66093: expected 11 fields, saw 12
Skipping line 66095: expected 11 fields, saw 12
Skipping line 66476: expected 11 fields, saw 12
Skipping line 66549: expected 11 fields, saw 12
Skipping line 66550: expected 11 fields, saw 12
Skipping line 68102: expected 11 fields, saw 12
Skipping line 69441: expected 11 fields, saw 12
Skipping line 70104: expected 11 fields, saw 12
Skipping line 70452: expected 11 fields, saw 12
Skipping line 70642: expected 11 fields, saw 12
Skipping line 70644: expected 11 fields, saw 12
Skipping line 70716: expected 11 fields, saw 12
Skipping line 71345: expected 11 fields, saw 12
Skipping line 71634: expected 11 fields, saw 12
Skipping line 72091: expected 11 fields, saw 12
Skipping line 72119: expected 11 fields, saw 12
Skipping line 73543: expected 11 fields, saw 12
Skipping line 74654: expected 11 fields, saw 12
Skipping line 74785: expected 11 fields, saw 12
Skipping line 74918: expected 11 fields, saw 12
Skipping line 75062: expected 11 fields, saw 12
Skipping line 75346: expected 11 fields, saw 12
Skipping line 75416: expected 11 fields, saw 12
Skipping line 75677: expected 11 fields, saw 12
Skipping line 75833: expected 11 fields, saw 12
Skipping line 76117: expected 11 fields, saw 12
Skipping line 76834: expected 11 fields, saw 12
Skipping line 77540: expected 11 fields, saw 12
Skipping line 77568: expected 11 fields, saw 12
Skipping line 77607: expected 11 fields, saw 12
Skipping line 77871: expected 11 fields, saw 12
Skipping line 78117: expected 11 fields, saw 12
Skipping line 78526: expected 11 fields, saw 12
Skipping line 78605: expected 11 fields, saw 12
Skipping line 79151: expected 11 fields, saw 12
Skipping line 79945: expected 11 fields, saw 12
Skipping line 80156: expected 11 fields, saw 12
Skipping line 80328: expected 11 fields, saw 12
Skipping line 80382: expected 11 fields, saw 12
Skipping line 80421: expected 11 fields, saw 12
Skipping line 80503: expected 11 fields, saw 12
Skipping line 82071: expected 11 fields, saw 12
Skipping line 82566: expected 11 fields, saw 12
Skipping line 86123: expected 11 fields, saw 12
Skipping line 87218: expected 11 fields, saw 12
Skipping line 87457: expected 11 fields, saw 12
Skipping line 87579: expected 11 fields, saw 12

In [18]:
def fix_zip_codes(lat):

    # Set 00000 zip codes to nan
    zero_lat = lat == '0'
    lat[zero_lat] = np.nan
    
    return lat

In [19]:
requests['latitude'] = fix_zip_codes(requests['latitude'])

C:\Users\agungteguh\Anaconda2\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
requests['latitude'].unique()

array(['29.8830556', '29.38421', '53.2', ..., '44.1269444', '39.078889',
       '50.465843'], dtype=object)

In [21]:
na_values = ['NO CLUE', 'N/A','NaN', '0']
request = pd.read_csv('exercise-5/complete.csv', 
                       na_values=na_values, 
                       dtype={'longitude': str},error_bad_lines=False)

Skipping line 878: expected 11 fields, saw 12
Skipping line 1713: expected 11 fields, saw 12
Skipping line 1815: expected 11 fields, saw 12
Skipping line 2858: expected 11 fields, saw 12
Skipping line 3734: expected 11 fields, saw 12
Skipping line 4756: expected 11 fields, saw 12
Skipping line 5389: expected 11 fields, saw 12
Skipping line 5423: expected 11 fields, saw 12
Skipping line 5614: expected 11 fields, saw 12
Skipping line 5849: expected 11 fields, saw 12
Skipping line 6093: expected 11 fields, saw 12
Skipping line 7516: expected 11 fields, saw 12
Skipping line 7626: expected 11 fields, saw 12
Skipping line 8893: expected 11 fields, saw 12
Skipping line 9015: expected 11 fields, saw 12
Skipping line 9571: expected 11 fields, saw 12
Skipping line 9620: expected 11 fields, saw 12
Skipping line 9751: expected 11 fields, saw 12
Skipping line 10157: expected 11 fields, saw 12
Skipping line 10427: expected 11 fields, saw 12
Skipping line 12035: expected 11 fields, saw 12
Skipping line 12113: expected 11 fields, saw 12
Skipping line 12144: expected 11 fields, saw 12
Skipping line 12891: expected 11 fields, saw 12
Skipping line 14613: expected 11 fields, saw 12
Skipping line 16031: expected 11 fields, saw 12
Skipping line 16344: expected 11 fields, saw 12
Skipping line 16399: expected 11 fields, saw 12
Skipping line 16635: expected 11 fields, saw 12
Skipping line 16722: expected 11 fields, saw 12
Skipping line 18241: expected 11 fields, saw 12
Skipping line 18367: expected 11 fields, saw 12
Skipping line 18479: expected 11 fields, saw 12
Skipping line 19814: expected 11 fields, saw 12
Skipping line 19859: expected 11 fields, saw 12
Skipping line 19909: expected 11 fields, saw 12
Skipping line 19935: expected 11 fields, saw 12
Skipping line 20386: expected 11 fields, saw 12
Skipping line 20533: expected 11 fields, saw 12
Skipping line 20764: expected 11 fields, saw 12
Skipping line 21145: expected 11 fields, saw 12
Skipping line 21291: expected 11 fields, saw 12
Skipping line 21309: expected 11 fields, saw 12
Skipping line 21576: expected 11 fields, saw 12
Skipping line 21966: expected 11 fields, saw 12
Skipping line 22092: expected 11 fields, saw 12
Skipping line 22108: expected 11 fields, saw 12
Skipping line 22236: expected 11 fields, saw 12
Skipping line 22785: expected 11 fields, saw 12
Skipping line 23143: expected 11 fields, saw 12
Skipping line 23145: expected 11 fields, saw 12
Skipping line 23251: expected 11 fields, saw 12
Skipping line 23369: expected 11 fields, saw 12
Skipping line 23464: expected 11 fields, saw 12
Skipping line 23622: expected 11 fields, saw 12
Skipping line 23732: expected 11 fields, saw 12
Skipping line 23924: expected 11 fields, saw 12
Skipping line 24696: expected 11 fields, saw 12
Skipping line 25543: expected 11 fields, saw 12
Skipping line 25703: expected 11 fields, saw 12
Skipping line 25815: expected 11 fields, saw 12
Skipping line 26185: expected 11 fields, saw 12
Skipping line 27424: expected 11 fields, saw 12
Skipping line 27465: expected 11 fields, saw 12
Skipping line 28083: expected 11 fields, saw 12
Skipping line 28282: expected 11 fields, saw 12
Skipping line 28460: expected 11 fields, saw 12
Skipping line 28745: expected 11 fields, saw 12
Skipping line 29674: expected 11 fields, saw 12
Skipping line 30342: expected 11 fields, saw 12
Skipping line 30417: expected 11 fields, saw 12
Skipping line 31154: expected 11 fields, saw 12
Skipping line 31308: expected 11 fields, saw 12
Skipping line 32198: expected 11 fields, saw 12
Skipping line 32439: expected 11 fields, saw 12
Skipping line 32675: expected 11 fields, saw 12
Skipping line 33134: expected 11 fields, saw 12
Skipping line 33442: expected 11 fields, saw 12
Skipping line 34184: expected 11 fields, saw 12
Skipping line 34731: expected 11 fields, saw 12
Skipping line 34869: expected 11 fields, saw 12
Skipping line 35107: expected 11 fields, saw 12
Skipping line 35300: expected 11 fields, saw 12
Skipping line 35396: expected 11 fields, saw 12
Skipping line 35913: expected 11 fields, saw 12
Skipping line 36445: expected 11 fields, saw 12
Skipping line 36693: expected 11 fields, saw 12
Skipping line 36723: expected 11 fields, saw 12
Skipping line 37293: expected 11 fields, saw 12
Skipping line 37361: expected 11 fields, saw 12
Skipping line 37980: expected 11 fields, saw 12
Skipping line 38090: expected 11 fields, saw 12
Skipping line 38197: expected 11 fields, saw 12
Skipping line 39431: expected 11 fields, saw 12
Skipping line 39598: expected 11 fields, saw 12
Skipping line 39679: expected 11 fields, saw 12
Skipping line 39794: expected 11 fields, saw 12
Skipping line 40021: expected 11 fields, saw 12
Skipping line 40430: expected 11 fields, saw 12
Skipping line 42858: expected 11 fields, saw 12
Skipping line 43662: expected 11 fields, saw 12
Skipping line 44162: expected 11 fields, saw 12
Skipping line 45529: expected 11 fields, saw 12
Skipping line 46678: expected 11 fields, saw 12
Skipping line 46788: expected 11 fields, saw 12
Skipping line 46811: expected 11 fields, saw 12
Skipping line 46924: expected 11 fields, saw 12
Skipping line 47287: expected 11 fields, saw 12
Skipping line 47377: expected 11 fields, saw 12
Skipping line 47419: expected 11 fields, saw 12
Skipping line 47492: expected 11 fields, saw 12
Skipping line 47629: expected 11 fields, saw 12
Skipping line 48125: expected 11 fields, saw 12
Skipping line 48932: expected 11 fields, saw 12
Skipping line 48971: expected 11 fields, saw 12
Skipping line 49440: expected 11 fields, saw 12
Skipping line 49457: expected 11 fields, saw 12
Skipping line 50670: expected 11 fields, saw 12
Skipping line 50960: expected 11 fields, saw 12
Skipping line 51275: expected 11 fields, saw 12
Skipping line 51649: expected 11 fields, saw 12
Skipping line 51993: expected 11 fields, saw 12
Skipping line 52023: expected 11 fields, saw 12
Skipping line 52059: expected 11 fields, saw 12
Skipping line 52259: expected 11 fields, saw 12
Skipping line 52368: expected 11 fields, saw 12
Skipping line 52783: expected 11 fields, saw 12
Skipping line 53064: expected 11 fields, saw 12
Skipping line 53135: expected 11 fields, saw 12
Skipping line 53514: expected 11 fields, saw 12
Skipping line 54092: expected 11 fields, saw 12
Skipping line 55403: expected 11 fields, saw 12
Skipping line 57476: expected 11 fields, saw 12
Skipping line 58646: expected 11 fields, saw 12
Skipping line 58808: expected 11 fields, saw 12
Skipping line 59119: expected 11 fields, saw 12
Skipping line 59727: expected 11 fields, saw 12
Skipping line 60386: expected 11 fields, saw 12
Skipping line 60478: expected 11 fields, saw 12
Skipping line 60542: expected 11 fields, saw 12
Skipping line 60913: expected 11 fields, saw 12
Skipping line 61032: expected 11 fields, saw 12
Skipping line 61640: expected 11 fields, saw 12
Skipping line 61732: expected 11 fields, saw 12
Skipping line 62029: expected 11 fields, saw 12
Skipping line 62219: expected 11 fields, saw 12
Skipping line 63657: expected 11 fields, saw 12
Skipping line 64712: expected 11 fields, saw 12

Skipping line 65881: expected 11 fields, saw 12
Skipping line 66093: expected 11 fields, saw 12
Skipping line 66095: expected 11 fields, saw 12
Skipping line 66476: expected 11 fields, saw 12
Skipping line 66549: expected 11 fields, saw 12
Skipping line 66550: expected 11 fields, saw 12
Skipping line 68102: expected 11 fields, saw 12
Skipping line 69441: expected 11 fields, saw 12
Skipping line 70104: expected 11 fields, saw 12
Skipping line 70452: expected 11 fields, saw 12
Skipping line 70642: expected 11 fields, saw 12
Skipping line 70644: expected 11 fields, saw 12
Skipping line 70716: expected 11 fields, saw 12
Skipping line 71345: expected 11 fields, saw 12
Skipping line 71634: expected 11 fields, saw 12
Skipping line 72091: expected 11 fields, saw 12
Skipping line 72119: expected 11 fields, saw 12
Skipping line 73543: expected 11 fields, saw 12
Skipping line 74654: expected 11 fields, saw 12
Skipping line 74785: expected 11 fields, saw 12
Skipping line 74918: expected 11 fields, saw 12
Skipping line 75062: expected 11 fields, saw 12
Skipping line 75346: expected 11 fields, saw 12
Skipping line 75416: expected 11 fields, saw 12
Skipping line 75677: expected 11 fields, saw 12
Skipping line 75833: expected 11 fields, saw 12
Skipping line 76117: expected 11 fields, saw 12
Skipping line 76834: expected 11 fields, saw 12
Skipping line 77540: expected 11 fields, saw 12
Skipping line 77568: expected 11 fields, saw 12
Skipping line 77607: expected 11 fields, saw 12
Skipping line 77871: expected 11 fields, saw 12
Skipping line 78117: expected 11 fields, saw 12
Skipping line 78526: expected 11 fields, saw 12
Skipping line 78605: expected 11 fields, saw 12
Skipping line 79151: expected 11 fields, saw 12
Skipping line 79945: expected 11 fields, saw 12
Skipping line 80156: expected 11 fields, saw 12
Skipping line 80328: expected 11 fields, saw 12
Skipping line 80382: expected 11 fields, saw 12
Skipping line 80421: expected 11 fields, saw 12
Skipping line 80503: expected 11 fields, saw 12
Skipping line 82071: expected 11 fields, saw 12
Skipping line 82566: expected 11 fields, saw 12
Skipping line 86123: expected 11 fields, saw 12
Skipping line 87218: expected 11 fields, saw 12
Skipping line 87457: expected 11 fields, saw 12
Skipping line 87579: expected 11 fields, saw 12

In [22]:
def fix_long_codes(long):

    # Set 00000 zip codes to nan
    zero_long = long == '0'
    long[zero_long] = np.nan
    
    return long

In [23]:
request['longitude'] = fix_long_codes(request['longitude'])

In [24]:
request['longitude'].unique()

array(['-97.9411111', '-98.581082', '-2.916667', ..., '-78.427222',
       '-113.783333', '22.891814'], dtype=object)

In [25]:
request[is_far][['latitude', 'longitude', 'city']]

         latitude     longitude                                   city
0      29.8830556   -97.9411111                             san marcos
1        29.38421    -98.581082                           lackland afb
2            53.2     -2.916667                   chester (uk/england)
3      28.9783333   -96.6458333                                   edna
4      21.4180556  -157.8036111                                kaneohe
5      36.5950000   -82.1888889                                bristol
6       51.434722         -3.18                     penarth (uk/wales)
7      41.1175000   -73.4083333                                norwalk
8      33.5861111   -86.2861111                              pell city
9      30.2947222   -82.9841667                               live oak
10     33.9163889  -118.3516667                              hawthorne
11     35.2333333   -82.7344444                                brevard
12     40.6686111   -73.5275000                               bellmore
13     37.1536111   -83.7619444                             manchester
14     35.8238889   -80.2536111                              lexington
15     36.8430556   -83.3219444                          harlan county
16     42.5377778   -83.2330556                        west bloomfield
17     41.3252778   -72.1936111                                niantic
18      32.364167    -64.678611                            bermuda nas
20     42.3916667   -71.5666667                                 hudson
21           51.5          -3.2                     cardiff (uk/wales)
22     38.1055556   -98.6597222                                 hudson
23     32.8544444   -79.9750000                       north charleston
24     45.5827778  -122.3522222                              washougal
25      51.783333      -.783333          stoke mandeville (uk/england)
26     29.4238889   -98.4933333                            san antonio
27     38.2541667   -85.7594444                             louisville
28     40.7008333   -73.7133333                                 elmont
29     41.7002778   -73.9213889                           poughkeepsie
30      53.970571   -111.689885                   saddle lake (canada)
...           ...           ...                                    ...
88649     40.7142   -74.0063889               new york city (brooklyn)
88650     33.4331   -79.1216667                         pawleys island
88651     34.2783  -119.2922222                                ventura
88652     32.7764   -79.9311111                             charleston
88653     34.2978   -83.8241667                            gainesville
88654     36.8467   -76.2855556                                norfolk
88655     42.8864   -78.8786111  buffalo (west of; on highway 90 west)
88656     41.0525   -80.6080556                              struthers
88657     32.7153  -117.1563889                              san diego
88658     40.3356   -75.9272222                                reading
88659     39.0789    -78.427222                           star tannery
88660      30.505   -97.8200000                             cedar park
88661       53.25   -113.783333                        calmar (canada)
88662     34.9744   -92.0163889                                  cabot
88663     40.8584    -74.163755                                clifton
88664     33.2097   -87.5691667                             tuscaloosa
88665     36.5297   -87.3594444                            clarksville
88666     50.4658     22.891814                   aleksandrow (poland)
88667     29.6514   -82.3250000                            gainesville
88668     34.3676    -77.710548                  hamstead (hollyridge)
88669        46.3    -63.216667                        milton (canada)
88670     34.1014   -84.5194444                              woodstock
88671     36.1658   -86.7844444                              nashville
88672     43.6136  -116.2025000                                  boise
88673     48.1958  -114.3119444                              kalispell
88674     38.2972  -122.2844444                                   napa
88675     38.9011   -77.2655556                                 vienna
88676     35.6528   -97.4777778                                 edmond
88677     34.3769   -82.6958333                                  starr
88678     26.1219   -80.1436111                         ft. lauderdale

[86640 rows x 3 columns]

In [26]:
s= request[is_far][['latitude', 'longitude']]

In [51]:
s.to_csv('completed.csv')